@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400');
*{overflow-x: hidden;margin: 0; padding: 0;font-family: 'Source Sans Pro', sans-serif;  text-decoration: none; text-decoration: none; list-style: none; }

#all{width: 100%; height: 100%; display: none;}

#firstbg{width: 100%; height: 100%; position: absolute; z-index: 101;}
#hello::after{position: absolute; right:10%; top:calc(18% - 25px); font-size:75px; text-shadow: 3px 5px 3px gray; content:"H e l l o,"; animation-name: open; animation-duration: 2.6s;animation-fill-mode: both;animation-iteration-count:1; }
#myname::after{position: absolute; right:10%; top:calc(26% - 25px); font-size:75px; text-shadow: 3px 5px 3px gray; content:"Jang Hyuck & Jae Weons"; animation-name: myname; animation-duration: 1.3s;animation-fill-mode: both;animation-iteration-count:1;}
#click {position: absolute;z-index: 102; top:55%; right:10%; font-size: 50px; font-weight: bold; cursor: pointer;}
#click>a{color:gray;}
#click>a:hover{color:#424242;}
@keyframes open { 
	0% { content: "H" }
	5% { content: "H " }
	10% { content: "H e" }
	15% { content: "H e " }
	20% { content: "H e l" }
	25% { content: "H e l " }
	30% { content: "H e l l" }
	35% { content: "H e l l " }
	40% { content: "H e l l o" }
	45% { content: "H e l l o," }	
 }
 @keyframes myname {
 	0% { content: "J" }
	4.5% { content: "Ja" }
	9% { content: "Jan" }
	13.5% { content: "Jang" }
	18% { content: "Jang " }
	22.5% { content: "Jang H" }
	27% { content: "Jang Hy" }
	31.5% { content: "Jang Hyu" }
	35% { content: "Jang Hyuc" }
	39.5% { content: "Jang Hyuck" }	
	44% { content: "Jang Hyuck " }	
	48.5% { content: "Jang Hyuck &" }	
	53% { content: "Jang Hyuck & " }	
	57.5% { content: "Jang Hyuck & J" }	
	62% { content: "Jang Hyuck & Ja" }	
	66.5% { content: "Jang Hyuck & Jae" }	
	71% { content: "Jang Hyuck & Jae " }	
	75.5% { content: "Jang Hyuck & Jae W" }
	80% { content: "Jang Hyuck & Jae We" }
	84.5% { content: "Jang Hyuck & Jae Weo" }
	89% { content: "Jang Hyuck & Jae Weon" }
	93.5% { content: "Jang Hyuck & Jae Weons" }	
 }

#first{width: 100%; height: 100%; position: relative;}
#first>img{width:100%; height:100%; background-size: cover;background-repeat: no-repeat; opacity: 0;}
.bg{width:calc(100%/3); height: 100%;float: left;display: none;}
.bg:nth-child(1){background: red;}
.bg:nth-child(2){background: blue;}
.bg:nth-child(3){background: green;}

#wrap{height: 3855px; overflow-y: hidden;}

#header{z-index: 100;height: 44px; width: 100%;background: rgba(0,0,0,0.8); position: fixed; display: flex; justify-content: center; align-items: center;}
.gnb{width: 1024px; display: flex; justify-content: space-around; align-items: center;}

#menu li{float: left; padding: 0 38px;}
#menu li a{color: white;}
#menu li a:hover {color:#979897;}

.logo{width: 20px; height: 30px}
.main_img{height: 692px; width: 100%;overflow-y: hidden;}
.main_img>img{width: 132%; height: 692px; margin-left: -15%}
.main_img2{position: relative;overflow-y: hidden; margin-top: 20px; height: 650px; width: 100%; background: black; display: flex; justify-content: center; align-items: center;}
.main_img2:hover .note{transition: 0.4s;transform: scale(1.1);}
.main_img3:hover .note{transition: 0.4s;transform: scale(1.1);}
.main_img2>img{position: relative; left: -500px; height: 650px;}
.main_img3{position: relative;overflow-y: hidden; width: 100%; height: 692px; background: black; margin-top: 20px; display: flex; justify-content: center; align-items: center;}
.main_img3>img{margin-top: 245px; position: relative; left: 200px}

.sub_box{overflow-y: hidden;width: 100%;}
.sub_box>div{overflow-y: hidden;width: calc(98% / 2); background: #fafafa; height: 580px; float: left;  margin-left: 10px; margin-top: 10px; display: flex; justify-content: center;align-items: center; position: relative;}
.sub_box>div:hover img{transition: 0.5s;transform: scale(1.1);}
.sub_box>div:nth-child(4) {background: black}

.sub1>img{margin-top: 190px}
.sub2>img{margin-top: 160px}
.sub3>img{margin-top: 190px}
.sub4>img{width: 100%; height: 580px}
.sub5>img{margin-top: 160px;}
.sub6>img{height: 500px;width:700px; position: relative; right:30px }

.main_text{width: 100%; height: 150px; position: absolute; text-align: center; line-height: 55px; top: 100px}
.main_text h1{font-size: 56px;overflow-y: hidden;}
.main_text a p{font-size: 20px; color: #0070c9; font-weight: bold;}
.main_text2{position: relative; text-align: center; right: -700px}
.main_text2 h1{font-size: 56px;overflow-y: hidden; display: block;}
.main_text2 .boda {font-size: 25px; color: white; font-weight: bold; margin-top: 10px}   
.main_text2 .the {font-weight: bold;color: #6bf;font-size: 19px; margin-top: 15px}  
.main_text3{position: relative; left: 180px; z-index: 1; text-align: center;}
.main_text3 .boda {font-size: 25px; color: white; font-weight: bold; margin-top: 10px}   
.main_text3 .the {font-weight: bold;color: #6bf;font-size: 19px; margin-top: 15px}

.galaxy{color: white} 
.sony{width:400px; height: 440px;}


.sub_text{z-index: 2;position: absolute; width: 100% !important; height: 160px !important; top: 0; text-align: center; margin-top: 50px}
#sub_text6{position: relative; top:-10px;}
.boda2{font-weight: bold; font-size: 22px;}
.the2 a{color: #0070c9; font-weight: bold; font-size: 17px}
.the2{ margin-top: 10px;}
.boda3{font-weight: bold; font-size: 22px; color: white}

.sub2{background-color: #ffffff;}

.main_sub_text{font-size: 40px; font-weight: 700}
.main_sub_text2 {font-size: 40px; font-weight: 700; color: white}

footer{width:100%;height: 407px; background: #f2f2f2;}
#footerContent{width:1000px; height: 100%;margin:0 auto;}
#subContent{width:1000px; height: 300px; }
#section{width:1000px; height: 105px;  margin:0 auto;}
.footerMenu{width:176px; height:203 auto; margin: 0 auto; float: left;margin-right: 20px; position: relative;top:20px; border-top: 1px solid #D9D6D6;padding-top: 5px;}
.footerMenu>h3{width:196px; font-size: 16px; color:#39486a;margin-top: 5px; margin-bottom: 5px;}
.footerMenu>ul>li>a{font-size:12.5px;  color:#979897;}

#footertop{width:100%;height:auto; padding-bottom: 5px; border-bottom: 1px solid #D9D6D6}
#footertop>p{color:#979897;}
.name,.sources{color:#979897;}